/* begin Page */

/* Start Box */
.nacho-box {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='nacho-box-'+e[ i]}('br,bl,cr,cl,tr,tl'.split(',')));
}
.nacho-box-body {
   zoom:1;
}
.nacho-box-tl, .nacho-box-tr, .nacho-box-cl, .nacho-box-cr, .nacho-box-bl, .nacho-box-br {
   position:absolute;
   display:block;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
}
.nacho-box-tl,.nacho-box-bl,.nacho-box-cl {
   left:0;
}
.nacho-box-tr,.nacho-box-br,.nacho-box-cr {
   right:0;
}
.nacho-box-cl, .nacho-box-cr {
   background-repeat:repeat-y;
}
.nacho-box-tl {
   background-position: top left;
   z-index:-3;
}
.nacho-box-tr {
   background-position: top right;
   z-index:-3;
}
.nacho-box-cl {
   background-position: center left;
   z-index:-3;
}
.nacho-box-cr {
   background-position: center right;
   z-index:-3;
}
.nacho-box-bl {
   background-position: bottom left;
   z-index:-3;
}
.nacho-box-br {
   background-position: bottom right;
   z-index:-3;
}

.nacho-box .nacho-box-tl,.nacho-box .nacho-box-tr,.nacho-box .nacho-box-cl,.nacho-box .nacho-box-cr,.nacho-box .nacho-box-bl,.nacho-box .nacho-box-br{
   z-index:-2;
}
.nacho-box .nacho-box .nacho-box-tl,.nacho-box .nacho-box .nacho-box-tr,.nacho-box .nacho-box .nacho-box-cl,.nacho-box .nacho-box .nacho-box-cr,.nacho-box .nacho-box .nacho-box-bl,.nacho-box .nacho-box .nacho-box-br{
   z-index:-1;
}
/* End Box */

/* Start Bar */
.nacho-bar {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='nacho-bar-'+e[ i]}('r,l'.split(',')));
}
.nacho-bar-l, .nacho-bar-r {
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat-y;
}
.nacho-bar-l {
   left:0;
   background-position: top left;
}
.nacho-bar-r {
   right:0;
   background-position: top right;
}
/* End Bar */

/* end Page */

/* begin Box, Sheet */
.nacho-sheet>.nacho-box-tl, .nacho-sheet>.nacho-box-tr{
   background-image: url('images/sheet_t.png');
}
.nacho-sheet>.nacho-box-bl, .nacho-sheet>.nacho-box-br {
   background-image: url('images/sheet_b.png');
}
.nacho-sheet>.nacho-box-tl, .nacho-sheet>.nacho-box-bl, .nacho-sheet>.nacho-box-cl{
   right:33px;
}
.nacho-sheet>.nacho-box-tr, .nacho-sheet>.nacho-box-br, .nacho-sheet>.nacho-box-cr{
   width: 33px;
}
.nacho-sheet>.nacho-box-cl, .nacho-sheet>.nacho-box-cr{
   top:33px;
   bottom:33px;
   background-image:url('images/sheet.png');
}
/* end Box, Sheet */

/* begin Menu */
.nacho-nav {
   position: expression(runtimeStyle.position='relative');
}
.nacho-nav>.nacho-bar-l, .nacho-nav>.nacho-bar-r{
   background-image: url('images/nav.png');
}
.nacho-nav>.nacho-bar-l{
   right: 3px;
}
.nacho-nav>.nacho-bar-r{
   width: 3px;
}
.nacho-hmenu ul li {
   float: left !important;
   width:100%;
}
.nacho-hmenu>li 
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}

/* end Menu */

/* begin MenuItem */
ul.nacho-hmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='nacho-hmenu-'+e[ i]}('r,l'.split(',')));
}
ul.nacho-hmenu>li>a>span.nacho-hmenu-l, ul.nacho-hmenu>li>a>span.nacho-hmenu-r
{
   position: absolute;
   display: block;
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('images/menuitem.png');
}

ul.nacho-hmenu>li>a>span.nacho-hmenu-l
{
   left: 0;
   right: 3px;
   background-position: top left;
}

ul.nacho-hmenu>li>a>span.nacho-hmenu-r
{
   width: 3px;
   right: 0;
   background-position: top right;
}

ul.nacho-hmenu>li>a.active>span.nacho-hmenu-l {
   background-position: bottom left;
} 
ul.nacho-hmenu>li>a.active>span.nacho-hmenu-r {
   background-position: bottom right;
}
ul.nacho-hmenu>li>a.active {
   color: #1A2711;
}

ul.nacho-hmenu>li>a:hover>span.nacho-hmenu-l, ul.nacho-hmenu>li:hover>a>span.nacho-hmenu-l {
   background-position: center left;
}
ul.nacho-hmenu>li>a:hover>span.nacho-hmenu-r, ul.nacho-hmenu>li:hover>a>span.nacho-hmenu-r {
   background-position: center right;
}
ul.nacho-hmenu>li>a:hover, ul.nacho-hmenu>li:hover>a{
   color: #191E1F;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.nacho-hmenu>li:first-child {
   padding-right:9px;
}
ul.nacho-hmenu>li>span.nacho-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -9px;
   width: 9px;
   height: 25px;
   background: url('images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin Header */
.nacho-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='nacho-header-png');
   z-index: 1;
}

.nacho-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 150px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin Layout */
.nacho-content-layout, .nacho-content-layout-row, .nacho-layout-cell 
{
   display: block;
   zoom: 1;
}
.nacho-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin BlockHeader */
.nacho-blockheader>.nacho-bar-l, .nacho-blockheader>.nacho-bar-r{
   background-image: url('images/blockheader.png');
}
.nacho-blockheader>.nacho-bar-l{
   right: 4px;
}
.nacho-blockheader>.nacho-bar-r{
   width: 4px;
}

/* end BlockHeader */

/* begin Box, Post */
.nacho-post>.nacho-box-tl, .nacho-post>.nacho-box-tr{
   background-image: url('images/post_t.png');
}
.nacho-post>.nacho-box-bl, .nacho-post>.nacho-box-br {
   background-image: url('images/post_b.png');
}
.nacho-post>.nacho-box-tl, .nacho-post>.nacho-box-bl, .nacho-post>.nacho-box-cl{
   right:3px;
}
.nacho-post>.nacho-box-tr, .nacho-post>.nacho-box-br, .nacho-post>.nacho-box-cr{
   width: 3px;
}
.nacho-post>.nacho-box-cl, .nacho-post>.nacho-box-cr{
   top:3px;
   bottom:3px;
   background-image:url('images/post.png');
}
/* end Box, Post */

/* begin PostContent */
.nacho-postcontent {
   height: 1%;
}
/* end PostContent */

/* begin Footer */
.nacho-footer {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='nacho-footer-'+e[ i]}('r,l,t'.split(',')));
}
.nacho-footer-body 
{
   zoom: 1;
   padding-right: 0;
}

.nacho-footer-t
{
   position: absolute;
   z-index:-1;
   left:0;
   right:0;
   top:0;
   bottom:50px;
   background-image: url('images/footer.png');
   background-position:bottom left;
}

.nacho-footer-l, .nacho-footer-r 
{
   position: absolute;
   content:' ';
   z-index:-1;
   bottom:0;
   height:50px;
   background-image: url('images/footer_b.png');
}

.nacho-footer-l
{
   left:0;
   right:3px;
   background-position: top left;
}

.nacho-footer-r
{
   right:0;
   width:3px;
   background-position: top right;
}
/* end Footer */

/* begin LayoutCell, content */
.nacho-content 
{
   width: auto;
   float:none;
}
/* end LayoutCell, content */

