/* begin Page */

/* Created by NachoSoft v3.1.0.48375 */

.cleared {
   width:1px;
}
/* Start Box */
.nacho-box, .nacho-box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.nacho-bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Box, Sheet */
.nacho-sheet {
   background:#7D8D91;
}
/* end Box, Sheet */

/* begin Menu */
ul.nacho-hmenu, ul.nacho-hmenu ul, ul.nacho-hmenu li, ul.nacho-hmenu a {
   zoom:1;
}
.nacho-hmenu li.nacho-hmenuhover{
   z-index: 10000;
}
.nacho-hmenu .nacho-hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.nacho-hmenu .nacho-hmenuhoverUL .nacho-hmenuhoverUL{
   top: 0;
   left: 100%;
}
.nacho-hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.nacho-nav
{
   zoom: 1;
   height: 37px;
   background:#B9C4C6;
}

/* end Menu */

/* begin MenuItem */
.nacho-hmenu a 
{
   display:inline-block;
   color: #1D2C30;
   padding: 0 17px;
   line-height: 25px;
   text-align: center;
}

.nacho-hmenu a.active 
{
   color: #1A2711;
   background-color:#94A5A8;
}

.nacho-hmenu a:hover, .nacho-hmenuhoverA,  .nacho-hmenuhover a 
{
   color: #191E1F;
   background-color:#7B8F93;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.nacho-hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'9px');
}
ul.nacho-hmenu li li{
   margin-left:0;
}

span.nacho-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -9px;
   width: 9px;
   height: 25px;
   background: url('images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.nacho-hmenu ul a 
{
   color: #DBE0E1 !important;
   float: left;
}

.nacho-hmenu ul a:hover, .nacho-hmenu ul .nacho-hmenuhover .nacho-hmenuhoverA 
{
   color: #000000 !important;
   background-position: left bottom;
   border-color: #505F62;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Header */
.nacho-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='nacho-header-png');
   z-index: 1;
}

.nacho-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 150px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin HeaderObject */
div.nacho-headerobject{
   font-size: 1px;
}
/* end HeaderObject */

/* begin Layout */
.nacho-content-layout, .nacho-content-layout-row, .nacho-layout-cell 
{
   display: block;
   zoom: 1;
}
.nacho-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Box, Block */
.nacho-block {
   background:#7D8D91;
}
/* end Box, Block */

/* begin BlockHeader */
.nacho-blockheader {
   background:#688B94;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.nacho-blockcontent {
   background:#7D8D91;
}
.nacho-blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Button */
.nacho-button-wrapper{
   zoom: 1;
}
.nacho-button-wrapper .nacho-button-l, .nacho-button-wrapper .nacho-button-r {
   display: none;
}
.nacho-button-wrapper .nacho-button {
   float: left;
}
/* end Button */

/* begin Box, Post */
.nacho-post {
   background:#A4B7BC;
}
/* end Box, Post */

/* begin PostBullets */
.nacho-post ul li, .nacho-post ol ul li
{
   height: 1%;
   padding-left: 17px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.nacho-post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin Footer */
.nacho-footer-body{
   padding-right: 0;
   zoom:1;
}
.nacho-footer{
   zoom:1;
   background:#7C8D91;
}

.nacho-footer-text
{
   height: 32px;
}

.nacho-rss-tag-icon
{
   zoom: 1;
   font-size: 1px;
}

/* end Footer */

/* begin LayoutCell, content */
.nacho-content {
   width: auto;
}
/* end LayoutCell, content */

